<ion-header>
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="dismissModal()">
        <p>Cerrar</p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>Servicio</ion-label>
      <ion-select  [(ngModel)]="selected_value" value="servicio" interface="action-sheet">
        <ion-select-option value="App">App</ion-select-option>
        <ion-select-option value="Entregas">Entregas</ion-select-option>
        <ion-select-option value="Productos">Productos</ion-select-option>
        <ion-select-option value="Trato Vendedor">Trato del vendedor</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Valoracion</ion-label>
      <ion-input placeholder="placeholder" [(ngModel)]="rating" type="number" min="0" max="5"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="guardarValoracion()">Enivar Valoración</ion-button>
</ion-footer>