<ion-header>
  <ion-toolbar id="header" color="acerimalla">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <img src="../../../assets/img/logo.png" alt="">
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toolbar class="ion-no-padding">
    <ion-title color="dark" class="ion-text-start"><b>CALIFICAR SERVICIOS</b></ion-title>
</ion-toolbar>

  <ion-list>

    <ion-item>
      <ion-label color="acerimalla">Servicio</ion-label>
      <ion-select [(ngModel)]="selected_value" value="servicio" interface="action-popover">
        <ion-select-option value="App">App</ion-select-option>
        <ion-select-option value="Entregas">Entregas</ion-select-option>
        <ion-select-option value="Productos">Productos</ion-select-option>
        <ion-select-option value="Trato Vendedor">Trato del vendedor</ion-select-option>
      </ion-select>
    </ion-item>
    <br/><br/>
    <ion-item>
      <ion-label color="acerimalla" position="stacked">Valoracion</ion-label>
      <ion-input placeholder="Ej: 5" [(ngModel)]="rating" type="number" min="0" max="5"></ion-input>
    </ion-item>

  </ion-list>
  <ion-button color="acerimalla" class="ion-padding" expand="block" (click)="guardarValoracion()">
    Enivar Valoración
  </ion-button>
</ion-content>

