{{>top}}
{{>sidebar}}
<div class="main">
    <div class="busqueda_parte">
        <a href="/galeria" style="color:#622870;"><img src="iconos/atras.png" width="10" height="15" loading="lazy"> Atrás</a>
        <h3 style="text-align: center;">G A L E R I A</h3>
        <h5 style="text-align: center; color: #cb1189;">Registrar Imagen</h5>
        <br>
        <br>
        <form action="/galeria/edit/{{galeria._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PUT">
            <div class="row">
                <div class="spanp">
                    <div class="separador">
                        <label>Codigo:</label>
                        <input class="redondeado derecha" type="text" id="codigo" name="codigo" value="{{galeria.codigo}}" />
                    </div>
                    <div class="separador">
                        <label>Nombre:</label>
                        <input class="redondeado derecha" type="text" id="nombre" name="nombre" value="{{galeria.nombre}}"/>
                    </div>
                    <div class="separador espaciado2">
                        <label>Descripción:</label>
                        <textarea class="redondeado derecha" style="height: 180px;" type="text" id="descripcion" name="descripcion"/>{{galeria.descripcion}}</textarea>
                    </div>
                    <div class="separador">
                       <label>Imagen:</label>
                        <input type="file" id="img" name="img" accept=".png, .jpeg, .jpg">
                    </div>
                    <div class="separador">
                        <button class="button btn btn_personalizado">ACTUALIZAR</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>