{{>top}}
{{>sidebar}}
<div class="main">
    <div class="busqueda_parte">
        <a href="/usuario/all" style="color:#622870;"><img src="iconos/atras.png" width="10" height="15" loading="lazy"> Atrás</a>
        <h3 style="text-align: center;">U S U A R I O S</h3>
        <h5 style="text-align: center; color: #cb1189;">Registrar Usuarios</h5>
        <br>
        <br>
        <form action="/usuario/add" method="POST" enctype="multipart/form-data">

            <div class="row">
                <div class="spanp">
                    <div class="separador">
                        <label>Usuario:</label>
                        <input class="redondeado derecha" type="text" id="cuenta" name="cuenta" value="" />
                    </div>
                    <div class="separador">
                        <label>Nombre:</label>
                        <input class="redondeado derecha" type="text" id="nombre" name="nombre" value="" />
                    </div>
                    <div class="separador">
                        <label>RUC/CI:</label>
                        <input class="redondeado derecha" type="text" id="ruc" name="ruc" value="" />
                    </div>
                    <div class="separador">
                        <label>Correo:</label>
                        <input class="redondeado derecha" type="email" id="email" name="email" value="" />
                    </div>
                    <div class="separador">
                        <label>Direccion:</label>
                        <input class="redondeado derecha" type="text" id="direccion" name="direccion" value="" />
                    </div>
                     <div class="separador">
                        <label>Telefono:</label>
                        <input class="redondeado derecha" type="text" id="telefono" name="telefono" value="" />
                    </div>
                    <div class="separador">
                        <label>Contraseña:</label>
                        <input class="redondeado derecha" type="password" id="contrasena" name="contrasena" value="" />
                    </div>
                     <div class="separador">
                        <label>Categoria:</label>
                        <select class="redondeado derecha" name="categoria" id="categoria">
                            <option value=""></option>
                            <option value="Persona Natural">Persona Natural</option>
                            <option value="Arquitecto">Arquitecto</option>
                            <option value="Ing. Civil">Ing. Civil</option>
                            <option value="Agro Industria">Agro Industria</option>
                        </select>
                    </div>
                </div>

                <div class="spanp">
                    <div class="separador">
                        <label>Imagen:</label>
                        <input type="file" id="img" name="img" accept=".png, .jpeg, .jpg">
                    </div>
                    
                    <div class="separador">
                        
                        <div class="spans">
                             <div class="separador">
                                <label for="estado">Estado</label>
                                <label class="switch derecha">
                                    <input type="checkbox" name="estado" value="activo">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                    <button class="button btn btn_personalizado">REGISTRAR</button>
                </div>

            </div>
        </form>
    </div>
</div>