<app-header></app-header>

<ion-content class="ion-padding">
    <ion-toolbar class="ion-no-padding">
        <ion-title color="dark" class="ion-text-start"><b>SERVICIO AL CLIENTE</b></ion-title>
    </ion-toolbar>

    <ion-card mode="ios">      
        <ion-card-content>
            <ion-icon name="albums"></ion-icon>
            <ion-text class="ion-padding">Administrar tu pedido</ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
        <ion-card-content>
            <ion-icon name="card"></ion-icon>
            <ion-text class="ion-padding">Pagos y facturacion</ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
        <ion-card-content (click)="contactenos()">
            <ion-icon name="call"></ion-icon>
            <ion-text class="ion-padding">Contáctenos</ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
        <ion-card-content (click)="sugerencias()">
            <ion-icon name="folder-open"></ion-icon>
            <ion-text class="ion-padding">Buzón de sugerencias</ion-text>
        </ion-card-content>
    </ion-card>
</ion-content>
