<ion-app>
  
  <!--MENU-->
  <ion-menu side="end" menuId="first" contentId="main">
    <ion-header class="ion-no-border">
      <ion-toolbar color="acerimalla">
        <ion-grid color="acerimalla">
          <ion-row>
              <ion-col size="auto">
                  <div class="user-avatar">
                    <ion-icon name="person-circle-outline" style="zoom: 4.5;"></ion-icon>
                  </div>
              </ion-col>
              <ion-col Style="padding-top: 5%" size="auto">
                  <h2 ion-text class="no-margin bold" style="color: white">
                      Nombre
                  </h2>
              </ion-col>
          </ion-row>
      </ion-grid>
      </ion-toolbar>
    </ion-header>

    <ion-content color="acerimalla">
      <ion-list>
        <ion-menu-toggle>
          <ion-button color="acerimalla" class="ion-no-margin ion-no-border" [routerLink]="['/tabs/pedidos']" expand="full">
            Historial de pedidos
          </ion-button>
          <ion-button color="acerimalla" class="ion-no-margin" [routerLink]="['/tabs/cupons']" expand="full">
            Cupones
          </ion-button>
          <ion-button color="acerimalla" class="ion-no-margin" [routerLink]="['/tabs/pay']" expand="full">
            Opciones de pago
          </ion-button>
          <ion-button color="acerimalla" class="ion-no-margin" [routerLink]="['/tabs/catalog']" expand="full">
            Catálogos
          </ion-button>
          <ion-button color="acerimalla" class="ion-no-margin" [routerLink]="['/tabs/locales']" expand="full">
            Locales
          </ion-button>
          <ion-button color="acerimalla" class="ion-no-margin" [routerLink]="['/tabs/galery']" expand="full">
            Galería
          </ion-button>
        </ion-menu-toggle>
      </ion-list>
      <ion-footer>
        <ion-toolbar color="acerimalla">
            <ion-title (click)="logOut()" class="ion-text-center">
                &nbsp;Cerrar Sesión
              </ion-title>
        </ion-toolbar>
    </ion-footer>
    </ion-content>
  </ion-menu>

  <!--id=main hace referencia al contendId de ion-menu-->
  <ion-router-outlet id="main"></ion-router-outlet>
   
</ion-app>
