
ion-icon{
    zoom: 4.5;
    opacity: 0.5;
}
ion-list, ion-content{
    background-color: #631B70;
}
ion-footer{
    border-top: black;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 1px;
}
