<ion-app>
  
  <!--MENU-->
  <ion-menu side="end" menuId="first" contentId="main">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title><ion-icon name="person-circle-outline" style="zoom: 4.5;"></ion-icon> NOMBRE USUARIO</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item><ion-icon name="search"></ion-icon> Historial de pedidos</ion-item>
        <ion-item><ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>Cupones</ion-item>
        <ion-item><ion-icon name="add"></ion-icon>Opciones de pago</ion-item>
        <ion-item>Catálogos</ion-item>
        <ion-item>Locales</ion-item>
        <ion-item>Galería</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!--id=main hace referencia al contendId de ion-menu-->
  <ion-router-outlet id="main"></ion-router-outlet>
   
</ion-app>
