<app-header titulo="PROFILE"></app-header>

<ion-content class="ion-padding">
    <div id="user-photo" class="ion-text-center">
      <ion-icon name="person-circle-outline" style="zoom: 10.0;"></ion-icon>
    </div>
    <div class="ion-padding">
      <!-- Login form -->
      <ion-label for="name">Nombres:</ion-label>
      <ion-item color="light">
        <ion-input name="name" type="text" required></ion-input>
      </ion-item>
      <br/>
      <br/>
      <ion-label for="last-name">Apellidos:</ion-label>
      <ion-item color="light">
        <ion-input name="last-name" type="text" required></ion-input>
      </ion-item>
      <br/>
      <br/>
      <ion-label for="cedula">Cedula:</ion-label>
      <ion-item color="light">
        <ion-input name="cedula" type="text" required></ion-input>
      </ion-item>
      <br/>
      <br/>
      <ion-label for="phone">Telefono:</ion-label>
      <ion-item color="light">
        <ion-input name="phone" type="number" required></ion-input>
      </ion-item>
      <br/>
      <br/>
      <ion-label for="address">Direccion:</ion-label>
      <ion-item color="light">
        <ion-input name="address" type="email" required></ion-input>
      </ion-item>
      <br/>
      <br/>
      <ion-label for="email">E-mail:</ion-label>
      <ion-item color="light">
        <ion-input name="email" type="email" required></ion-input>
      </ion-item>
      <br/>
      <br/>
      <ion-label for="password">Contraseña:</ion-label>
      <ion-item color="light">
        <ion-input name="password" type="paswword" required></ion-input>
      </ion-item>
    </div>
  </ion-content>
  
