<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="#">
                Navery Admin 
            </a>

            <div class="nav-collapse">
                <ul class="nav pull-right">
                    {{#if user}}
                    <li class="">
                        <a href="/dashboard" class="">
                            <i class="icon-chevron-left"></i>
                            Regresar al Inicio
                        </a>

                    </li>
                    {{else}}
                     <li class="">
                        <a href="/login" class="">
                            Ya tiene una cuenta? Login ahora
                        </a>

                    </li>
                    {{/if}}
                </ul>

            </div>
            <!--/.nav-collapse -->

        </div> <!-- /container -->

    </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->


<div class="account-container register">

    <div class="content clearfix">

        <form action="/administrador/add" method="POST">

            <h1>Registrarse en sencillos pasos</h1>

            <div class="login-fields">

                <p>Crea tu cuenta ahora:</p>

                <div class="field">
                    <label for="nombre">Nombres:</label>
                    <input type="text" id="nombre" name="nombre" value="" placeholder="Firs Name"  class="login" />
                </div> <!-- /field -->

                <div class="field">
                    <label for="apellido">Apellidos:</label>
                    <input type="text" id="apellido" name="apellido" value="" placeholder="Last Name" class="login" />
                </div> <!-- /field -->


                <div class="field">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" value="" placeholder="Email" class="login" />
                </div> <!-- /field -->

                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="" placeholder="Password"
                        class="login" />
                </div> <!-- /field -->

                <div class="field">
                    <label for="confirm_password">Confirmar Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" value=""
                        placeholder="Confirm Password" class="login" />
                </div> <!-- /field -->

            </div> <!-- /login-fields -->

            <div class="login-actions">

                <span class="login-checkbox">
                    <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice"
                        tabindex="4" />
                    <label class="choice" for="Field">Acepta los Terminos & Condiciones.</label>
                </span>

                <button class="button btn btn-primary btn-large">Registrar</button>

            </div> <!-- .actions -->

        </form>

    </div> <!-- /content -->

</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
    Ya tiene una cuenta? <a href="/login">Login a tu Cuenta</a>
</div> <!-- /login-extra -->