<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1..
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>gsdfghskhg</ion-card-content>
  <ion-item button (click)="buttonClick()">
    <ion-label>
      Button Item
    </ion-label>
  </ion-item>
  <app-explore-container name="Tab 1 page!!"></app-explore-container>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Footer - No Border</ion-title>
  </ion-toolbar>
</ion-footer>
