<app-header></app-header>

<ion-content>

    <ion-toolbar>
        <ion-title color="dark">Productos</ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-searchbar mode="ios" 
            placeholder="Buscar producto"
            inputmode="text"
            (ionChange)="onSearchChange($event)"
            [debounce]="250"  
        ></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar>
        <ion-segment scrollable color="acerimalla" value="" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="">
                Metal perforado
            </ion-segment-button>
            <ion-segment-button value="metal-expandido">
                Metal expandido
            </ion-segment-button>
            <ion-segment-button value="pisos-metalicos">
                Pisos metálicos
            </ion-segment-button>
            <ion-segment-button value="mallas industriales">
                Mallas industriales
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <ion-grid>
        <ion-row *ngIf="products != null; else wait">
            <ion-col size="6" *ngFor="let product of products | filtro:textToFilter:'nombre'">
                <ion-card mode="ios">
                    <ion-card-header>
                        <img src='http://localhost:4000/{{product.img}}' alt="{{product.img}}"/>
                    </ion-card-header>
                    
                    <ion-card-content>
                        <div>
                            <ion-card-title style="width: 88%; margin-left: 0px;"><h4>{{product.nombre}}</h4></ion-card-title>
                            <ion-text style="float: right;">{{product.precio}}</ion-text>
                        </div>
                        {{product.descripcion}}
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ng-template #wait>
        <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Cargando...</span>
            </div>
          </div>
    </ng-template>

</ion-content>
