<app-header></app-header>

<ion-content>

    <ion-toolbar>
        <ion-title color="dark">Productos</ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-searchbar mode="ios" placeholder="Buscar producto"></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar>
        <ion-segment color="acerimalla" value="all" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="metal-perforado" style="font-size: 6.5px;">
                Metal perforado
            </ion-segment-button>
            <ion-segment-button value="metal-expandido" style="font-size: 6.5px;">
                Metal expandido
            </ion-segment-button>
            <ion-segment-button value="pisos-metalicos" style="font-size: 6.5px;">
                Pisos metálicos
            </ion-segment-button>
            <ion-segment-button value="mallas" style="font-size: 6.5px;">
                Mallas i
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <ion-grid>
        <ion-row *ngIf="products != null; else wait">
            <ion-col size="6" *ngFor="let product of products">
                <ion-card mode="ios">
                    <ion-card-header>
                        <img src="{{product.img}}" alt="{{product.img}}"/>
                        <ion-card-title style="width: 88%; margin-left: 0px;"><h4>{{product.nombre}}</h4></ion-card-title>
                        <ion-text style="float: right;">{{product.precio}}</ion-text>
                    </ion-card-header>
                  
                    <ion-card-content>
                      {{product.descripcion}}
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ng-template #wait>
        <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Cargando...</span>
            </div>
          </div>
    </ng-template>

</ion-content>
