<app-header titulo="HOME"></app-header>

<ion-content>

    <ion-toolbar>
        <ion-title color="dark">Productos</ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-searchbar placeholder="Buscar producto"></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar>
        <ion-segment value="all">
            <ion-segment-button value="metal-perforado" style="font-size: 6.5px;">
                Metal perforado
            </ion-segment-button>
            <ion-segment-button value="metal-expandido" style="font-size: 6.5px;">
                Metal expandido
            </ion-segment-button>
            <ion-segment-button value="pisos-metalicos" style="font-size: 6.5px;">
                Pisos metálicos
            </ion-segment-button>
            <ion-segment-button value="mallas" style="font-size: 6.5px;">
                Mallas i
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-content>
