<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon class="ion-margin" name="file-tray-outline" size='large'></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-capitalize ion-text-center"> {{titulo}} </ion-title>

    <!--MENU PRINCIPAL-->
    <ion-buttons slot="end">
      <!--atrr menu=first es el menuId en app.component.html-->
      <ion-menu-button class="ion-margin" menu='first' color="dark"></ion-menu-button>
    </ion-buttons>
    <!--FIN MENU PRINCIPAL-->
    
  </ion-toolbar>
</ion-header>