<ion-header>
  <ion-toolbar color="acerimalla">
    <!--<ion-title class="ion-text-capitalize ion-text-center"> {{titulo}} </ion-title>-->
    <!--MENU PRINCIPAL-->
    <ion-row>
    <ion-buttons color="acerimalla">
      <ion-button color="light"(click)="valoracion()">
        <ion-icon slot="icon-only" name="file-tray-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img class="imgLogoLogin2" src="../../../assets/img/logo.png" alt="">
    <ion-buttons color="acerimalla">
      
      <ion-menu-button slot="icon-only" menu='first' color="light"></ion-menu-button>
    </ion-buttons>
    <!--FIN MENU PRINCIPAL-->
    </ion-row>
  </ion-toolbar>
</ion-header>