ion-toolbar{
    background-color: #631B70;
    background-repeat: repeat;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    
}
ion-buttons {
    background-color: #631B70;
}
.imgLogoLogin2{
    background-color: transparent;
    display: block; 
    padding-top: 20px;
    width: 50% ; 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

}
