<ion-header class="ion-no-border">
  <img style="background-size: cover;" src="../../../assets/img/logo.png" alt="">
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding">
    <!-- Login form -->
    <ion-item color="light">
      <ion-input id="correo" placeholder="Correo Electrónico" type="email" required></ion-input>
    </ion-item>
    <br/>
    <ion-item color="light">
      <!--type="{{type}}"-->
      <ion-input id="contrasena" placeholder="Contraseña" type="{{showPass ? 'text' : 'password'}}" required></ion-input>
      <ion-button type="button" clear color="light" item-right (click)="seePassword()">
        <ion-icon style="zoom:1.5;" name="{{changeEye ? 'eye-outline' : 'eye-off-outline'}}"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-text [routerLink]="['/forgot-password']" style="color: #D5158A;" (click)="forgotPass()">
      ¿Olvidaste tu contraseña?
    </ion-text>
    <br>
    <br/>
    <br/>
    <ion-button expand="block" color="acerimalla" tappable (click)="login()">
      <ion-text>INICIAR SESIÓN</ion-text>
    </ion-button>
    <ion-button expand="block" color="light" tappable (click)="loginFacebook()">
      <ion-text text-center>
        Ingresar con &nbsp;
      </ion-text>
      <ion-icon style="zoom:1.5;" name="logo-facebook"></ion-icon>
    </ion-button>
    <br/>
    <br/>
    <div class="ion-padding ion-text-center">
      <ion-text [routerLink]="['/tabs/home']" style="color: #D5158A;">
        ¡Omitir Inicio de Sesión!
      </ion-text>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-padding ion-no-border ion-text-center">
  <ion-text tappable color="acerimalla">
    ¿Nuevo Usuario? 
    <strong [routerLink]="['/signup']">
      ¡Regístrate aquí!
    </strong>
  </ion-text>
</ion-footer>
