<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/' color="dark"></ion-back-button>
    </ion-buttons>
  
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <ion-text style="font-size: 11px;">
      <strong>
        Ingresa tu correo electrónico para recuperar tu contraseña
      </strong>
    </ion-text>
  </div>
  <br/>
  <br/>
  <ion-item color="light">
    <ion-input placeholder="Correo Electrónico" required></ion-input>
  </ion-item>
  <br/>
  <br/>
  <br/>
  <ion-button expand="block">RECUPERAR</ion-button>
</ion-content>
