<ion-header m>
  <ion-toolbar >
  
    <ion-buttons >
      <ion-button [routerLink]="['/']">
        <ion-icon color="acerimalla"name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  <img class="imgLogoLogin2" src="../../../assets/img/logo2.png" alt="">

  </ion-toolbar>
</ion-header>

<ion-content style="border-top: 0 !important;" id="prueba2" class="ion-padding">

  <div class="ion-text-center">
    <ion-text style="font-size: 14px;">
      <strong>
        Ingresa correo electrónico para recuperar contraseña
      </strong>
    </ion-text>
  </div>
  <br/>
  <br/>
  <ion-item color="light">
    <ion-input id="email" placeholder="Correo Electrónico" required></ion-input>
  </ion-item>
  <br/>
  <br/>
  <br/>
  <ion-button color="acerimalla" expand="block" (click)="forgotPassword();">RECUPERAR</ion-button>
</ion-content>