<ion-header>
  <ion-toolbar color="acerimalla">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br/>
  <br/>
  <br/>
  <div class="ion-text-center">
    <ion-text style="font-size: 12px;">
      <strong>
        Ingresar correo electrónico para recuperar contraseña
      </strong>
    </ion-text>
  </div>
  <br/>
  <br/>
  <ion-item color="light">
    <ion-input id="email" placeholder="Correo Electrónico" required></ion-input>
  </ion-item>
  <br/>
  <br/>
  <br/>
  <ion-button color="acerimalla" expand="block" (click)="forgotPassword();">RECUPERAR</ion-button>
</ion-content>
