<app-header></app-header>

<ion-content>
    <ion-toolbar>
        <ion-title color="dark" class="ion-text-start"><b>LOCALES</b></ion-title>
    </ion-toolbar>
    <ion-list class="ion-no-padding" *ngIf="locals">
        <ion-card *ngFor="let local of locals">
            <ion-item>
                <ion-thumbnail slot="start" (click)="seleccionar_direccion(local.coordx,local.coordy);">
                    <ion-img src="http://localhost:4000/{{local.img}}"></ion-img>
                </ion-thumbnail>
                <ion-label> 
                    <ion-icon color="acerimalla" slot="only-icon" name="pin-outline"></ion-icon> &nbsp;
                    <ion-text>{{local.direccion}}</ion-text>
                    <br/>
                    <ion-icon color="acerimalla" slot="start" name="calendar-outline"></ion-icon> &nbsp;
                    <ion-text>{{local.descripcion}}</ion-text>
                    <br/>
                    <ion-icon color="acerimalla" slot="start" name="call-outline"></ion-icon> &nbsp;
                    <ion-text>{{local.telefono}}</ion-text>
                </ion-label>
                
            </ion-item>
        </ion-card>

    </ion-list>
</ion-content>
