<!-- 
========================================
==============  top  ===================
========================================
  -->

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/dashboard">Administrador Navery</a>

            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="icon-cog"></i> Cuenta <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Configuraciones</a></li>
                            <li><a href="javascript:;">Ayuda</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="icon-user"></i> Navery.com <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Perfil</a></li>
                            <li><a href="/logOut">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>


<!-- 
=======================================
============  Navigation  =============
=======================================
  -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li><a href="/dashboard"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
                <li><a href="/reports"><i class="icon-list-alt"></i><span>Reportes</span> </a> </li>
                <li><a href="/app"><i class="icon-facetime-video"></i><span>App</span> </a></li>
                <li class="active"><a href="/ventas"><i class="icon-credit-card"></i><span>Ventas</span> </a></li>
                <li></li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>

<!-- 
=======================================
==============  MAIN ==================
=======================================
  -->

<div class="main">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div id="barralateral">
                    <ul>
                        <li><a href="/pendientes/all"><i class="icon-truck"></i><span> Pendiente &emsp;&emsp;&nbsp;</span><i
                                    class="icon-caret-right"></i></a></li>
                        <li><a href="/transito/all"><i class="icon-road"></i><span> Transito
                                    &emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="icon-caret-right"></i></a></li>
                        <li><a href="/completados/all"><i class="icon-ok-sign"></i><span> Completado &emsp;&nbsp;</span><i
                                    class="icon-caret-right"></i></a></li>
                        <li><a href="/mensajes"><i class="icon-comments"></i><span> Mensajes
                                    &emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="icon-caret-right"></i></a></li>
                    </ul>
                </div> <!-- /barra lateral -->
            </div>
            <div class="span9">
                <h2>Creacion de Pedidos</h2>
                <form action="/pedido/add" method="POST">
                    <div id="encabezado">
                        <p>N.- Orden:               <input type="Number" style="width : 150px; heigth : 25px" id="npedido" name="npedido" /></p>
                        <label style=" font-size: 20px;">Datos del Comprador</label>
                        <p>Cliente: &emsp;          <input type="text" style="width : 150px; heigth : 25px" id="cliente" name="cliente" /> &emsp;
                            Direccion:&emsp;        <input type="text" style="width : 150px; heigth : 25px" id="direccion" name="direccion"/> &emsp;
                            Metodo de Entrega:&emsp;<input type="text" style="width : 150px; heigth : 25px" id="mentrega" name="mentrega" />
                        </p>
                        <p>Ruc:&emsp;&emsp;&emsp;<input type="text" style="width : 150px; heigth : 25px" id="ruc" name="ruc" /> &emsp;
                           Telefono:  &emsp;          <input type="text" style="width : 150px; heigth : 25px" id="telefono" name="telefono" /> &emsp;
                           Metodo de pago: &emsp;&emsp;<input type="text" style="width : 150px; heigth : 25px" id="fpago" name="fpago" />
                        </p>
                        <p>Correo: &emsp;           <input type="text" style="width : 150px; heigth : 25px" id="email" name="email" /> &emsp;
                            Fecha:&emsp;&emsp;&emsp;<input type="date" style="width : 150px; heigth : 25px" id="fcreacion" name="fcreacion" />
                        </p>
                        
                    </div>
                    <div class="span6">
                        <label style=" font-size: 20px;">Detalle de la Orden</label>
                        <table class="presentar">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Cant.</th>
                                    <th>valor</th>
                                    <th>Sub T.</th>
                                    <th>Desc.</th>
                                    <th>Total</th>

                                </tr>
                            </thead>
                            <tr>
                                

                            </tr>
                        </table>
                        
                    </div>
                    <div class="span2">
                        <label style=" font-size: 20px;">Saldos</label>
                        <p>Sub Total: &emsp;<input type="Number" style="width : 75px; heigth : 25px" id="subtotal1" name="subtotal1" /></p>
                        <p>Descuentos: <input type="Number" style="width : 75px; heigth : 25px" id="descuentos" name="descuentos" /></p>
                        <p>Sub Total: &emsp;<input type="Number" style="width : 75px; heigth : 25px" id="subtotal2" name="subtotal2" /></p>
                        <p>IVA 12%:&emsp;&emsp;<input type="Number" style="width : 75px; heigth : 25px" id="iva" name="iva"/></p>
                        <p>Valor Total:&emsp;<input type="Number" style="width : 75px; heigth : 25px" id="total" name="total" /></p>
                        <p>Estado: 
                            <select name="estado" id="estado">
                                <option value="pendiente">Pendiente</option>
                                <option value="transito">En Transito</option>
                                <option value="completo">Completado</option>
                            </select>
                        </p>
                        <input type="hidden" id="anterior" name="anterior" value="nuevo"/>
                        <button class="button btn btn-primary btn-large">Registrar</button>
        
                    </div>
                </form>
           
            </div>
        </div>

    </div> <!-- /container -->

</div> <!-- /main -->
