<ion-header>
  <ion-toolbar>
    <ion-title color="acerimalla">Aviso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="login === false">
    <ion-item lines='none'>
      <ion-label>No ha iniciado sesión.</ion-label>
    </ion-item>
  
    <ion-row class="ion-no-padding">
      <ion-col size="12">
        <ion-button color="acerimalla" (click)="aceptar()" fill="clear" shape="round">
          Aceptar
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  
  <div *ngIf="login === true">
    <ion-item lines='none'>
      <ion-label>Se ha enviado su calificación con éxito.</ion-label>
    </ion-item>
  
    <ion-row class="ion-no-padding">
      <ion-col size="12">
        <ion-button color="acerimalla" (click)="aceptar()" fill="clear" shape="round">
          Aceptar
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  
</ion-content>