<app-header></app-header>

<ion-content class="ion-padding">
  <h4><strong>CATÁLOGOS</strong></h4>

  <ion-card mode="ios">      
    <ion-card-content>
      <ion-text class="ion-padding">Agro industria</ion-text>
      <ion-icon name="download"></ion-icon>
    </ion-card-content>
</ion-card>

<ion-card mode="ios">
    <ion-card-content>
      <ion-text class="ion-padding">Mallas</ion-text>
      <ion-icon name="download"></ion-icon>
    </ion-card-content>
</ion-card>

<ion-card mode="ios">
    <ion-card-content>
      <ion-text class="ion-padding">Construcciones</ion-text>
      <ion-icon name="download"></ion-icon>
    </ion-card-content>
</ion-card>

<ion-card mode="ios">
    <ion-card-content>
      <ion-text class="ion-padding">--FALTA AQUI--</ion-text>
      <ion-icon name="download"></ion-icon>
    </ion-card-content>
</ion-card>

</ion-content>
