{{>top}}
{{>sidebar}}
<div class="main">
    <div class="busqueda_parte">
        <a href="/operador/all" style="color:#622870;"><img src="iconos/atras.png" width="10" height="15" loading="lazy"> Atrás</a>
        <h3 style="text-align: center;">O P E R A D O R E S</h3>
        <h5 style="text-align: center; color: #cb1189;">Registrar Operadores</h5>
        <br>
        <br>
        <form action="/operador/add" method="POST" enctype="multipart/form-data">

            <div class="row">
                <div class="spanp">
                    <div class="separador">
                        <label>Nombre:</label>
                        <input class="redondeado derecha" type="text" id="nombre" name="nombre" value="" />
                    </div>
                    <div class="separador">
                        <label>Apellido:</label>
                        <input class="redondeado derecha" type="text" id="apellido" name="apellido" value="" />
                    </div>
                    <div class="separador">
                        <label>Correo:</label>
                        <input class="redondeado derecha" type="email" id="email" name="email" value="" />
                    </div>

                    <div class="separador">
                        <label>Usuario:</label>
                        <input class="redondeado derecha" type="text" id="cuenta" name="cuenta" value="" />
                    </div>
                    <div class="separador">
                        <label>Contraseña:</label>
                        <input class="redondeado derecha" type="password" id="contrasena" name="contrasena" value="" />
                    </div>
                </div>

                <div class="spanp">

                    <div class="separador">
                        <label>Imagen:</label>
                        <input type="file" id="img" name="img" accept=".png, .jpeg, .jpg">
                    </div>
                    
                    <div class="espaciado">
                    </div>
                    <button class="button btn btn_personalizado">REGISTRAR</button>
                </div>

            </div>
        </form>
    </div>
</div>